html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.app {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  transition: background-image 0.4s ease-in-out;
  gap: 5px;
  padding: 4px;
  box-sizing: border-box;
}

.layer-name {
  color: white;
  font-size: 13px;
  cursor: default;
  font-family: "Itim";
}
.calender-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.month {
  text-align: center;
  font-size: 32px;
  color: white;
  cursor: default;
  font-family: "Inknut Antiqua";
}
.date {
  font-size: 110px;
  color: white;
  line-height: 0.8;
  cursor: default;
  font-family: "Itim";
}

.descend {
  width: fit-content;
  padding: 0 4px 0 4px;
  align-self: center;
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 6px;

  font-size: 12px;
  cursor: pointer;

  transition: all 0.2s ease;
  font-family: "Itim";
}

.descend:disabled {
  opacity: 0.6;
  cursor: default;
}
.descend:hover:not(:disabled) {
  background: rgba(255, 255, 255, 0.15);
}
